@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=National+Park:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    font-family: Raleway;
    color: white;
    background-color: black;
}

header {
    text-align: center;
    font-size: 50px;
}

.img_portada {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.descripcion {
    padding: 50px;
    display: flex;
}

.descripcion img {
    width: 50%;
    margin: 30px;
}

.descripcion p {
    margin: 30px;
    font-size: 16px;
    align-content: center;
}

.caracteristicas {
    font-size: 40px;
    text-align: center;
    background-color: #1E1A13 ;
    padding-top: 20px;
    padding-bottom: 20px;
}

.c_icon {
    display: flex;
    justify-content: center;
    background-color: #1E1A13 ;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon {
    width: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

.i_text {
    font-size: 24px;
    margin-left: 100px;
    margin-right: 100px;
}

.imagenes {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.imagen {
    width: 30%;
    margin: 1%;
}

.footer {
    text-align: center;
    background-color: #1E1A13 ;
    padding: 10px;
}

.visita {
    font-size: 20px;
    margin: 10px;
}

.volver {
    font-size: 15px;
    color: white;
    text-align: right;
}

#page {
    color: white;
}